/**
 * @author Jacob Shafer
 * April 2016
 */
#countdown_canvas {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #000 top center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 50; }
  #countdown_canvas #home, #countdown_canvas #imgSelectorm, #countdown_canvas #form {
    z-index: 55; }

/* The home button in the top left corner */
#home {
  position: absolute;
  padding: 10px; }
  #home img {
    width: 50px;
    height: 50px;
    opacity: 0.85; }

#imgSelector {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.85); }
  #imgSelector fieldset {
    border: none;
    margin: 0px;
    padding: 0px; }
  #imgSelector label {
    margin: 1px; }
  #imgSelector .selected__ {
    background-color: #bad80a; }
  #imgSelector .unselected__ {
    background-color: rgba(255, 255, 255, 0.85); }

/* form holds the countdown block */
#form {
  display: block;
  width: 50%;
  margin: 15% auto;
  padding-right: 50px;
  font-family: Helvetica, Arial, sans-serif; }
  #form #until {
    clear: both;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px; }
    #form #until p {
      font-size: 40px;
      color: #999;
      line-height: 1em;
      margin-bottom: 0em; }
  #form #topbox {
    padding: 25px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85); }
    #form #topbox .countdown .hasCountdown {
      display: table;
      margin: 0 auto; }
  #form ul.countdown-tabs {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    list-style: none; }
    #form ul.countdown-tabs li, #form ul.countdown-tabs li.last-child {
      margin: 12px;
      padding: 0;
      display: inline-block; }
    #form ul.countdown-tabs li a {
      display: block;
      width: 130px;
      float: left;
      font-size: 60px;
      font-weight: bold;
      text-decoration: none;
      color: #666;
      text-align: center;
      margin-top: 10px; }
      #form ul.countdown-tabs li a span {
        display: block;
        margin-top: -5px;
        font-size: 18px;
        font-weight: normal;
        color: #999;
        margin-top: 10px;
        text-align: center;
        text-transform: lowercase; }

/*
.ui-button {
	opacity: 0.6;
	filter: alpha(opacity=60);
	font-size: 10px;
}
*/
/*
@-moz-document url-prefix() {
	#form {
		padding-top: 20px;
	}
}


/*

*/
/*
.nobutton {
	background: no-repeat url('../images/countdown_button0.png');
}

.button {
	background: no-repeat url('../images/countdown_button1.png');
}

#ie {
	display: none;
}
*/

/*# sourceMappingURL=countdown_wwu.css.map */
