/**
 * @author Jacob Shafer
 * April 2016
 */

$z-height: 50;
$opacity: 0.85;
$wwuGreen: #bad80a;

@mixin coverBackground() {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

@mixin opaqueBackground() {
	background-color: rgba(255, 255, 255, $opacity);
}

#countdown_canvas {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	background: #000 top center fixed no-repeat;
	@include coverBackground();
	z-index: $z-height;

	#home, #imgSelectorm, #form {
		z-index: $z-height + 5;
	}
}

/* The home button in the top left corner */
#home {
	position: absolute;
	padding: 10px;

	img {
		width: 50px;
		height: 50px;
		opacity: $opacity;
	}
}


#imgSelector {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	@include opaqueBackground();

   fieldset {
      border: none;
      margin: 0px;
      padding: 0px;
   }

	label {
      margin: 1px;
	}


   .selected__ {
      background-color: $wwuGreen;
   }

   .unselected__ {
      @include opaqueBackground();
   }

}

/* form holds the countdown block */
#form {
	display: block;
	width: 50%;
	margin: 15% auto;
	padding-right: 50px;
	font-family: Helvetica, Arial, sans-serif;

	#until {
		clear: both;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		padding: 10px;

      p {
         font-size: 40px;
         color: #999;
         line-height: 1em;
         margin-bottom: 0em;
      }
	}

	#topbox {
		padding: 25px;
		height: 100%;
		width: 100%;
		@include opaqueBackground();

		.countdown .hasCountdown {
			display: table;
			margin: 0 auto;
		}
	}

   ul.countdown-tabs {
   	text-align: center;
   	padding: 0;
   	margin: 0 auto;
   	list-style: none;

   	li, li.last-child {
   		margin: 12px;
   		padding: 0;
   		display: inline-block;
   	}

   	li a {
   		display: block;
   		width: 130px;
   		float: left;
   		font-size: 60px;
   		font-weight: bold;
   		text-decoration: none;
   		color: #666;

   		text-align: center;
   		margin-top: 10px;

   		span {
   			display: block;
   			margin-top: -5px;
   			font-size: 18px;
   			font-weight: normal;
   			color: #999;
   			margin-top: 10px;
   			text-align: center;
   			text-transform: lowercase;
   		}
   	}
   }
}